@import "../../../styles/colors.scss";

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    label {
        font-weight: bold;
        font-size: 1rem;
    }

    input {
        border: 1px solid $smoke;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}
